

a {
  text-decoration: underline;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }



.panelswipe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto; }
/*
.nav {
  width: 620px;
  height: 25px;
  padding: 10px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50%;
  margin-left: -320px;
  background: #fff;
  color: #000;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .about-visible .nav {
    color: #62726a; }
    .about-visible .nav .nav-about, .about-visible .nav a:hover, .about-visible .nav a:focus {
      background: #62726a; }
  .get-started-visible .nav {
    color: #626a72; }
    .get-started-visible .nav .nav-started, .get-started-visible .nav a:hover, .get-started-visible .nav a:focus {
      background: #626a72; }
  .shortcuts-examples-visible .nav {
    color: #6a6272; }
    .shortcuts-examples-visible .nav .nav-shortcuts, .shortcuts-examples-visible .nav a:hover, .shortcuts-examples-visible .nav a:focus {
      background: #6a6272; }
  .docs-visible .nav {
    color: #72626a; }
    .docs-visible .nav .nav-docs, .docs-visible .nav a:hover, .docs-visible .nav a:focus {
      background: #72626a; }
  .nav h1 {
    float: left;
    font-size: 24px;
    line-height: 1; }
  .nav ul {
    float: right;
    list-style: none; }
  .nav li {
    float: left;
    padding: 0 5px; }
  .nav a {
    display: block;
    line-height: 2;
    color: #fff;
    background: #000;
    text-decoration: none;
    font-size: 12px;
    padding: 0 5px; }
    .about-visible .nav a {
      background: #93ab9f;
      color: #fff; }
    .get-started-visible .nav a {
      background: #939fab;
      color: #fff; }
    .shortcuts-examples-visible .nav a {
      background: #9f93ab;
      color: #fff; }
    .docs-visible .nav a {
      background: #ab939f;
      color: #fff; }
*/

